In [2]:
# List Operations
fruits = ["apple", "banana", "mango"]
fruits.append("orange")
fruits.remove("banana")
print("Fruits List:", fruits)
print("First Fruit:", fruits[0])

Fruits List: ['apple', 'mango', 'orange']
First Fruit: apple

In [3]:
# Tuple Example
dimensions = (1920, 1080)
print("Screen Dimensions:", dimensions)
# dimensions[0] = 1280  # Uncommenting this will give an error (immutability)

Screen Dimensions: (1920, 1080)

In [4]:
# Dictionary Example
student = {"name": "Nihal", "age": 20, "branch": "AI & DS"}
print("Student Info:", student)
print("Name:", student["name"])

# Adding new key
student["year"] = 2
print("Updated Info:", student)

Student Info: {'name': 'Nihal', 'age': 20, 'branch': 'AI & DS'}
Name: Nihal
Updated Info: {'name': 'Nihal', 'age': 20, 'branch': 'AI & DS', 'year': 2}

In [5]:
# Set Example
colors = {"red", "blue", "green", "red"}
print("Unique Colors:", colors)  # 'red' won't repeat
colors.add("yellow")
print("Updated Set:", colors)

Unique Colors: {'blue', 'green', 'red'}
Updated Set: {'blue', 'green', 'red', 'yellow'}

In [6]:
# List Comprehension and Sum of Squares
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
even_squares = [x for x in squares if x % 2 == 0]

print("Original:", numbers)
print("Squares:", squares)
print("Even Squares:", even_squares)

Original: [1, 2, 3, 4, 5]
Squares: [1, 4, 9, 16, 25]
Even Squares: [4, 16]

In [7]:
# Lambda and map
nums = [1, 2, 3, 4, 5]
double = list(map(lambda x: x * 2, nums))
print("Original:", nums)
print("Doubled:", double)

Original: [1, 2, 3, 4, 5]
Doubled: [2, 4, 6, 8, 10]

In [8]:
# Recursive Function to Calculate Factorial
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)

print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [9]:
# Data Cleaning: Remove Duplicates and Filter Values
data = [20, 25, 20, 30, 35, 30, 40, 45, 25, 50]

# Remove duplicates using set
unique_data = list(set(data))

# Filter data > 30
filtered_data = [x for x in unique_data if x > 30]

print("Original Data:", data)
print("Unique Data:", unique_data)
print("Filtered (>30):", filtered_data)

Original Data: [20, 25, 20, 30, 35, 30, 40, 45, 25, 50]
Unique Data: [35, 40, 45, 50, 20, 25, 30]
Filtered (>30): [35, 40, 45, 50]

In [10]:
data = [10, 20, 10, 30, 40, 30, 50, 20]

# Using set to remove duplicates, preserving order
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

cleaned_data = remove_duplicates(data)
print("Original Data:", data)
print("Cleaned Data (duplicates removed):", cleaned_data)

Original Data: [10, 20, 10, 30, 40, 30, 50, 20]
Cleaned Data (duplicates removed): [10, 20, 30, 40, 50]

In [11]:
data = [12, -3, 7, 0, -1, 5, 10]

# Filter only positive values
positive_data = [x for x in data if x > 0]

print("Original Data:", data)
print("Filtered Data (positive only):", positive_data)

Original Data: [12, -3, 7, 0, -1, 5, 10]
Filtered Data (positive only): [12, 7, 5, 10]

In [12]:
names = ["Alice", "", "Bob", "Charlie", "", "David"]

# Remove empty strings
cleaned_names = [name for name in names if name != ""]

print("Original Names:", names)
print("Cleaned Names (empty removed):", cleaned_names)

Original Names: ['Alice', '', 'Bob', 'Charlie', '', 'David']
Cleaned Names (empty removed): ['Alice', 'Bob', 'Charlie', 'David']

In [13]:
raw_data = ["  apple ", "banana  ", "  cherry", " date "]

# Strip whitespace from each string
cleaned_data = [item.strip() for item in raw_data]

print("Raw Data:", raw_data)
print("Cleaned Data (whitespace removed):", cleaned_data)

Raw Data: ['  apple ', 'banana  ', '  cherry', ' date ']
Cleaned Data (whitespace removed): ['apple', 'banana', 'cherry', 'date']

In [14]:
data = [10, None, 20, None, 30, 40, None]

# Replace None with 0
cleaned_data = [x if x is not None else 0 for x in data]

print("Original Data:", data)
print("Cleaned Data (None replaced with 0):", cleaned_data)

Original Data: [10, None, 20, None, 30, 40, None]
Cleaned Data (None replaced with 0): [10, 0, 20, 0, 30, 40, 0]

In [15]:
data = {
    "John": 25,
    "Alice": 30,
    "Bob": 19,
    "Diana": 17
}

# Filter entries where age is >= 20
filtered_data = {k: v for k, v in data.items() if v >= 20}

print("Original Data:", data)
print("Filtered Data (age >= 20):", filtered_data)

Original Data: {'John': 25, 'Alice': 30, 'Bob': 19, 'Diana': 17}
Filtered Data (age >= 20): {'John': 25, 'Alice': 30}

In [16]:
data = [
    {"id": 1, "name": "John"},
    {"id": 2, "name": "Alice"},
    {"id": 1, "name": "John"},
    {"id": 3, "name": "Bob"}
]

# Remove duplicates based on 'id'
def remove_dict_duplicates(lst, key):
    seen = set()
    result = []
    for d in lst:
        val = d[key]
        if val not in seen:
            result.append(d)
            seen.add(val)
    return result

cleaned_data = remove_dict_duplicates(data, "id")
print("Original Data:", data)
print("Cleaned Data (duplicates removed by id):", cleaned_data)

Original Data: [{'id': 1, 'name': 'John'}, {'id': 2, 'name': 'Alice'}, {'id': 1, 'name': 'John'}, {'id': 3, 'name': 'Bob'}]
Cleaned Data (duplicates removed by id): [{'id': 1, 'name': 'John'}, {'id': 2, 'name': 'Alice'}, {'id': 3, 'name': 'Bob'}]